# make certificates for elasticserach/kibana/filebeat interaction, update necessary file permitions

sudo /usr/share/elasticsearch/bin/elasticsearch-certutil ca \
--pem --out /tmp/ca.d.zip && \

sudo unzip -j /tmp/ca.d.zip -d /etc/elasticsearch/certs/ca.d/ && \

sudo /usr/share/elasticsearch/bin/elasticsearch-certutil cert \
--out /tmp/elastic-mycert.d.zip \
--name elastic-mycert \
--ca-cert /etc/elasticsearch/certs/ca.d/ca.crt \
--ca-key /etc/elasticsearch/certs/ca.d/ca.key \
--dns {{ hostvars['ELASTICSEARCH']['ansible_host'] }} \
--pem && \

sudo unzip -j /tmp/elastic-mycert.d.zip -d /etc/elasticsearch/certs/elastic-mycert.d/ && \

sudo /usr/share/elasticsearch/bin/elasticsearch-certutil cert \
--out /tmp/kibana-mycert.d.zip \
--name kibana-mycert \
--ca-cert /etc/elasticsearch/certs/ca.d/ca.crt \
--ca-key /etc/elasticsearch/certs/ca.d/ca.key \
--dns {{ hostvars['KIBANA']['ansible_host'] }} \
--pem && \

sudo /usr/share/elasticsearch/bin/elasticsearch-certutil cert \
--out /tmp/w1-filebeat-mycert.d.zip \
--name filebeat-mycert \
--ca-cert /etc/elasticsearch/certs/ca.d/ca.crt \
--ca-key /etc/elasticsearch/certs/ca.d/ca.key \
--dns {{ hostvars['WEB1']['ansible_host'] }} \
--pem && \

sudo /usr/share/elasticsearch/bin/elasticsearch-certutil cert \
--out /tmp/w2-filebeat-mycert.d.zip \
--name filebeat-mycert \
--ca-cert /etc/elasticsearch/certs/ca.d/ca.crt \
--ca-key /etc/elasticsearch/certs/ca.d/ca.key \
--dns {{ hostvars['WEB2']['ansible_host'] }} \
--pem && \

sudo chgrp -R elasticsearch /etc/elasticsearch/certs

