sudo /usr/share/elasticsearch/bin/elasticsearch-certutil ca \
--pem --out /tmp/ca.d.zip && \

sudo unzip -j /tmp/ca.d.zip -d /etc/elasticsearch/certs/ca.d/ && \

sudo /usr/share/elasticsearch/bin/elasticsearch-certutil cert \
--out /tmp/elastic-mycert.d.zip \
--name elastic-mycert \
--ca-cert /etc/elasticsearch/certs/ca.d/ca.crt \
--ca-key /etc/elasticsearch/certs/ca.d/ca.key \
--ip {{ ansible_default_ipv4.address }} \
--pem && \

sudo unzip -j /tmp/elastic-mycert.d.zip -d /etc/elasticsearch/certs/elastic-mycert.d/ && \

sudo /usr/share/elasticsearch/bin/elasticsearch-certutil cert \
--out /tmp/kibana-mycert.d.zip \
--name kibana-mycert \
--ca-cert /etc/elasticsearch/certs/ca.d/ca.crt \
--ca-key /etc/elasticsearch/certs/ca.d/ca.key \
--ip {{ kibanaPRIVATEip }} \
--pem && \

sudo chgrp -R elasticsearch /etc/elasticsearch/certs

