{
  "jsonrpc": "2.0",
  "method": "action.create",
  "params": {
    "name": "Diploma-autoregistration-action",
    "eventsource": "2",
    "status": "0",
    "filter": {
      "evaltype": "0",
      "conditions": [
        {
          "conditiontype": "24",
          "operator": "2",
          "value": "Linux servers"
        }
      ]
    },
    "operations": [
      {
        "operationtype": "4",
        "opgroup": [
          {
            "groupid": "2"
          }
        ]
      },
      {
        "operationtype": "6",
        "optemplate": [
          {
            "templateid": "10001"
          },
          {
            "templateid": "10267"
          }
        ]
      }
    ]
  },
  "auth": "{{ zabbix_token }}",
  "id": 1
}
